
dic(class='container w-100')
    div(class='row')
        div(class='col col-lg-1 col-md-1')
            div(class='show-nav')
                i(class="fas fa-bars")
        div(class='col col-lg-10 col-md-10 header')
            a(href='/')
                h1 light shop
            button.btn_create
                a(href="create") create
            div.top_menu
                input(class="search_input" type="text" placeholder="name" value=name)
                a(href="/search")
                    button(class="search") search
                a(href="/register")
                    button(class="register_btn") register
                a(href="/login")
                    button(class="login_btn") login
                    