.wrap{
   display:flex;
   background: #fff;
   flex-direction: column;
   height: 100%;
}
.content{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.jumbotron{
    height: auto;
    padding: 20px 0;
}
.jumbotron h1{
    display: inline-block;
}
.w-100{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.card{
    border: 1px solid #dedede;
    height: 80vh !important;
}
.card img{
    display: block;
    margin: 20px auto;
    width: 90%;
    min-height: 150px;
    
}
.card-text{
    text-align: center;
}

/* --------NAV-------- */
.site-nav{
    position: fixed;
    width: 300px;
    min-height: 100vh;
    z-index: 9999;
    top: 0;
    left: -300px;
    color:#fff;
    padding: 10px;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    background: #f01ecd;
}
.close-button-div{
    text-align: right;
    
}
.category-list a{
    color:#fff;
}
.footer{
    bottom: 0;
    text-align: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}